/**
  Buttons CSS
*/
.ih-primary-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--ih-color-theme-primary);
  font-size: 16px;
  font-weight: var(--ih-fw-sbold);
  padding: 5px 5px 5px 25px;
  text-align: center;
  border-radius: 50px;
  line-height: 1;
  z-index: 2;
  overflow: hidden;
  text-decoration: none;
}
.ih-primary-btn .btn-text {
  color: var(--ih-color-common-white);
  text-decoration: none;
  overflow: hidden;
}
.ih-primary-btn .btn-text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  text-shadow: 0 30px 0;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.ih-primary-btn .btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 1;
  width: 42px;
  height: 42px;
  overflow: hidden;
  background-color: var(--ih-color-theme-dark);
  border-radius: 50%;
}
.ih-primary-btn .btn-icon i {
  color: var(--ih-color-common-white);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ih-primary-btn.btn-dark {
  background-color: var(--ih-color-theme-dark);
}
.ih-primary-btn.btn-dark .btn-icon {
  background-color: var(--ih-color-common-white);
}
.ih-primary-btn.btn-dark .btn-icon i {
  color: var(--ih-color-theme-dark);
}
.ih-primary-btn.transparent-btn {
  background-color: transparent;
  border: 1px solid var(--ih-color-border-1);
}
.ih-primary-btn.transparent-btn .btn-text {
  color: var(--ih-color-heading-primary);
}
.ih-primary-btn.transparent-btn:hover {
  border-color: var(--ih-color-theme-dark);
}
.ih-primary-btn:hover .btn-text span {
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}
.ih-primary-btn:hover .btn-icon i {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.ih-primary-btn-lg {
  font-size: 20px;
  padding: 7px 7px 7px 44px;
  gap: 14px;
}
.ih-primary-btn-lg .btn-icon {
  font-size: 27px;
  width: 59px;
  height: 59px;
}

.text-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  position: relative;
  font-size: 16px;
  font-weight: var(--ih-fw-sbold);
  text-align: center;
  line-height: 1;
  z-index: 2;
  text-decoration: none;
}
.text-btn .btn-text {
  color: var(--ih-color-heading-primary);
  overflow: hidden;
}
.text-btn .btn-text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  text-shadow: 0 30px 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.text-btn .btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 1;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-color: var(--ih-color-theme-dark);
  border-radius: 50%;
}
.text-btn .btn-icon i {
  color: var(--ih-color-common-white);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.text-btn:hover .btn-text span {
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}
.text-btn:hover .btn-icon {
  background-color: var(--ih-color-theme-primary);
}
.text-btn:hover .btn-icon i {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.ihi-icon-btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid var(--ih-color-theme-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
}
.ihi-icon-btn i {
  color: var(--ih-color-theme-primary);
  font-weight: var(--ih-fw-normal);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ihi-icon-btn:hover {
  background-color: var(--ih-color-theme-primary);
}
.ihi-icon-btn:hover i {
  color: var(--ih-color-common-white);
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .ihi-icon-btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .ihi-icon-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}