/**----------------------------------------
START: Team CSS
----------------------------------------*/
.ih-team-section {
  padding-top: 120px;
  padding-bottom: 90px;
  overflow: hidden;
}
.ih-team-section .sec-heading {
  max-width: 550px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ih-team-section {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .ih-team-section {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
.ih-team-section-2 .sub-title {
  color: var(--ih-color-theme-primary);
  border: 0;
  padding: 0;
}
.ih-team-section-3 {
  background-color: var(--ih-color-theme-bg);
  padding-top: 120px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 12px;
}
.ih-team-section-3 .sec-heading {
  max-width: 500px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ih-team-section-3 {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .ih-team-section-3 {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

.team-item {
  position: relative;
  margin-bottom: 30px;
}
.team-item .team-img {
  position: relative;
}
.team-item .team-img .team-img-inner {
  background-color: var(--ih-color-grey-2);
  border-radius: 10px;
  overflow: hidden;
}
.team-item .team-img img {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.team-item .team-img::after, .team-item .team-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ih-color-theme-dark);
  opacity: 0;
  border-radius: 10px;
}
.team-item .team-img::after {
  background-color: var(--ih-color-theme-primary);
  opacity: 1;
  z-index: -1;
}
.team-item .social-links {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.team-item .social-links ul {
    display: flex;
    align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          gap: 10px;
    list-style: none;      
}
.team-item .social-links ul li a {
  width: 30px;
  height: 30px;
  background-color: var(--ih-color-theme-bg);
  opacity: 0.4;
}
.team-item .social-links ul li a i {
  color: var(--ih-color-theme-dark);
}
.team-item .social-links ul li a:hover {
  opacity: 1;
  background-color: var(--ih-color-theme-primary);
}
.team-item .social-links ul li a:hover i {
  color: var(--ih-color-common-white);
}
.team-item .team-content {
  position: relative;
  margin-top: 18px;
}
.team-item .title {
  font-size: 32px;
  font-weight: 500; 
  line-height: 32px;
  margin-bottom: 0;
  width: calc(100% - 35px);
}
.team-item .title a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}
.team-item .title a:hover {
  color: var(--ih-color-theme-primary);
}
.team-item .designation {
  font-size: 14px;
  color: var(--ih-color-text-body-3);
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.team-item .mail-at {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: var(--ih-color-common-white);
  color: var(--ih-color-heading-primary);
  font-size: 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 6px;
  right: 0;
}
.team-item .mail-at:hover {
  background-color: var(--ih-color-theme-primary);
  color: var(--ih-color-common-white);
}
.team-item:hover .team-img::before {
  opacity: 0.75;
}
.team-item:hover .team-img::after {
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
}
.team-item:hover .social-links {
  opacity: 1;
  visibility: visible;
}

.team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .team-wrapper {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team-img-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .team-img-wrap {
    display: none;
  }
}
.team-img-wrap .team-img {
  height: 100%;
  background-color: var(--ih-color-grey-2);
  border-radius: 12px;
  overflow: hidden;
}
.team-img-wrap .team-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .team-img-wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.team-item-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.team-item-wrap .team-item {
  overflow: hidden;
  margin-bottom: 20px;
  padding: 0;
}
.team-item-wrap .team-item:last-child {
  margin-bottom: 0;
  padding: 0;
}
.team-item-wrap .team-item-inner {
  background-color: var(--ih-color-common-white);
  position: relative;
  text-align: start;
  width: 100%;
  border-radius: 12px;
  padding: 35px 30px 30px;
  z-index: 1;
  overflow: hidden;
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .team-item-wrap .team-item-inner {
    padding: 20px;
  }
}
.team-item-wrap .team-item .team-link {
  color: var(--ih-color-theme-primary);
  font-size: 75px;
  line-height: 1;
  position: absolute;
  top: 20px;
  right: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.team-item-wrap .team-item .team-link:hover {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team-item-wrap .team-item .team-link {
    font-size: 65px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .team-item-wrap .team-item .team-link {
    font-size: 50px;
    top: 12px;
  }
}
.team-item-wrap .team-item .team-content {
  margin-top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team-item-wrap .team-item .title {
  width: calc(100% - 50px);
  font-weight: var(--ih-fw-medium);
  line-height: 1;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 11px;
}
.team-item-wrap .team-item .designation {
  font-size: 16px;
}
.team-item-wrap .team-item .social-links {
  top: inherit;
  left: inherit;
  bottom: 30px;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.team-item-wrap .team-item .social-links ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.team-item-wrap .team-item .social-links ul li a {
  width: 24px;
  height: 24px;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 100%;
  background-color: var(--ih-color-theme-dark);
}

.team-item-wrap .team-item .social-links ul li .facebook-icon {
  width: 24px;
  height: 24px;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 100%;
  background-color: var(--ih-color-theme-dark);
}

.team-item-wrap .team-item .social-links ul li a i {
  color: var(--ih-color-common-white);
}
.team-item-wrap .team-item .social-links ul li a:hover {
  background-color: var(--ih-color-theme-primary);
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .team-item-wrap .team-item .social-links {
    bottom: 20px;
  }
}
.team-item-wrap .team-item .desc {
  opacity: 0;
  visibility: hidden;
}
.team-item-wrap .team-item .team-img-wrap {
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team-item-wrap .team-item .team-img-wrap .team-img::after, .team-item-wrap .team-item .team-img-wrap .team-img::before {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .team-item-wrap .team-item .team-img-wrap {
    display: block;
    width: 100%;
    height: 0;
  }
  .team-item-wrap .team-item .team-img-wrap img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.team-item-wrap .team-item.active .team-item-inner {
  margin-bottom: 0px;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .team-item-wrap .team-item.active .team-item-inner {
    margin-bottom: 20px;
  }
}
.team-item-wrap .team-item.active .team-link {
  opacity: 1;
  visibility: visible;
}
.team-item-wrap .team-item.active .team-content {
  margin-bottom: 110px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .team-item-wrap .team-item.active .team-content {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .team-item-wrap .team-item.active .team-content {
    margin-bottom: 50px;
  }
}
.team-item-wrap .team-item.active .social-links {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.team-item-wrap .team-item.active .team-img-wrap {
  height: 755px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .team-item-wrap .team-item.active .team-img-wrap {
    height: 516px;
  }
}
@media (max-width: 575px) {
  .team-item-wrap .team-item.active .team-img-wrap {
    height: 337px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .team-item-wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/* !END: Team CSS */